- if favorite = current_user.favorite_for(profile)
  = link_to favorite_path(profile_id: profile.id), class: 'btn btn-danger', method: :delete do
    %i.ion-heart-broken>
    \  Unfavorite
- else
  = link_to favorites_path(profile_id: profile.id), class: 'btn btn-primary', method: :post do
    %i.ion-ios-heart>
    \  Favorite
