<br/>

<div class="media-left">
  <%= gravatar_url(current_user, 128) %>
</div>

<div class="media-body">
  
  <div class="pull-right">
    <%= link_to "Edit Your Details", edit_user_registration_path, class: 'btn btn-primary' %>
  </div>

  <h2 class="media-heading"><%= current_user.username %></h2>
  <small>
    Member since <%=current_user.created_at.strftime("%B %d, %Y") %>
  </small>

</div>
