- if favorited
  = link_to favorite_path(favorited), class: 'btn btn-danger', method: :delete do
    %i.ion-heart-broken>
    \  Unfavorite
- else
  = link_to favorites_path(favorite: {favoritable_id: favoritable.id, favoritable_type: favoritable.class.to_s}),
    class: 'btn btn-primary', method: :post do
    %i.ion-ios-heart>
    \  Favorite
