- if favorite = current_user.favorite_for(artwork)
  = link_to [artwork, favorite], class: 'btn btn-danger', method: :delete do
    %i.glyphicon.glyphicon-star-empty>
    \  Unfavorite
- else
  = link_to [artwork, Favorite.new], class: 'btn btn-primary', method: :post do
    %i.glyphicon.glyphicon-star>
    \  Favorite
